@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.nav__img a {
    display: flex;
    gap: 5em;
    position: absolute;
    margin-top: 30px;
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/fondo.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1em;
}

.menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0%;
    display: flex;
    overflow: hidden;
    z-index: 100;
}

.menu.sticky {
    background: linear-gradient(45deg, hwb(158 62% 20% / 0.97) 0%, #1f5f76 100%);
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}


/* contenedor principal */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 2.2rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}


/* contenedor Primera seccion */

.contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    margin: 40px;
}

.item .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .5s;
}

.item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item:hover .img {
    transform: translate(-35px, -35px);
}

.content {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 224, 224);
    padding: 15px;
    transition: all .5s;
}

.content h2,
.content p {
    line-height: 4px;
    letter-spacing: 1px;
}

.content h2 {
    font-size: 20px;
    font-weight: 400;
    color: #555;
}

.content p {
    font-size: 14px;
    font-weight: 300;
    color: #555;
}

.item:hover .content {
    transform: translate(35px, 35px);
}


/* contenedor segunda seccion columnas*/

.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 0;
    margin-top: 30px;
    text-align: center;
    color: #7a7a7a;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: auto;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #2fb4cc;
    color: #fff;
}


/* Footer */

.footer {
    background-color: #1D293F;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
}

.footer__img {
    width: 30px;
}


/* Media queries */

@media only screen and (min-width:320px) and (max-width:768px) {
    .nav__menu {
        display: block;
    }
    .nav__link--menu {
        position: fixed;
        background: linear-gradient(45deg, hwb(158 62% 20% / 0.97) 0%, #1f5f76 100%);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .hero__title {
        font-size: 2.5rem;
    }
    .item:hover .img {
        transform: translate(0, -35px);
    }
    .item:hover .content {
        transform: translate(0, 35px);
    }
    .footer__container {
        flex-wrap: wrap;
    }
    .nav--footer {
        width: 100%;
        justify-items: center;
    }
    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }
    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }
    .footer__input {
        flex: 1;
    }
    .container-card {
        flex-wrap: wrap;
    }
    .card {
        margin: 15px;
    }
    .hero__title {
        font-size: 2rem;
    }
    .hero__paragraph {
        font-size: 1rem;
    }
    .subtitle {
        font-size: 1.8rem;
    }
    .nav--footer {
        padding-bottom: 60px;
    }
    .nav__link--footer {
        justify-content: space-between;
    }
    .footer__inputs {
        flex-wrap: wrap;
    }
    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }
    .footer__submit {
        margin-right: auto;
        margin-left: 0;
        /* 
        margin:0;
        width: 100%;
        */
    }
}
